<!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"}} -->
<header class="wp-block-group"><!-- wp:site-title /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:post-title /--></div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons">
  <!-- wp:button -->
  <div class="wp-block-button">
    <a class="wp-block-button__link wp-element-button"
      >Sign up for our newsletter</a
    >
  </div>
  <!-- /wp:button -->
</div>
<!-- /wp:buttons -->
