<!-- wp:pattern {"slug":"achilles/hero"} /-->

<!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"}} -->
<header class="wp-block-group"><!-- wp:site-title /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:post-title /--></div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:buttons -->
  <div class="wp-block-buttons">
    <!-- wp:button {"align":"left"} -->
    <div class="wp-block-button alignleft">
      <a class="wp-block-button__link wp-element-button">
        Sign up for our newsletter
      </a>
    </div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"complex-footer"} /-->
